<header class="banner">
  <h1>Piece<span class="by">×</span>Piece
</header>

<div class="launch">
  <span><a href="#" data-behavior="start-analysis">I found something!</a></span>
</div>

<div id="modal"></div>
